{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    
</head>

<body>

    <!-- Contact Form Section Begin -->
    <section class="contact-from-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Sign Up User</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if msg %}
                    <b style="color: blue;">{{msg}}</b>
                {% endif %}
                <div class="col-lg-12">
                    <form action="{% url 'signup' %}" method="post" class="comment-form contact-form">
                        {% csrf_token %}
                        <div class="row">
                             <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="fname" type="text" id="name" placeholder="Your First  Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="lname" type="text" id="name" placeholder="Your Last  Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email"  placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="mobile" type="text" id="phone-number" placeholder="Mobile*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="address" rows="6" id="about-event-hosting" placeholder="Address*" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="password" type="password" id="phone-number" placeholder="Password*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="cpassword" type="password" id="phone-number" placeholder="Cpassword*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12 text-center">
                                <button type="submit" class="site-btn">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Section End -->

</body>

</html>
{% endblock %}